.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}

.dot {
  position: relative;
  overflow: hidden;
}

.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eaeaea 50%, #282828 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
}

.dot.bg-selected::before {
  background-position: -100% 0;
}

.embla__slide img {
  transition: all 0.5s ease;
}

.is-snapped img {
  opacity: 1;
}

.embla__slide:not(.is-snapped) img {
  height: 90%;
  opacity: 0.45;
}
